{% extends 'base.html.twig' %}

{% block title %}New Film{% endblock %}

{% block body %}
    <h1>Create new Film</h1>

    {# Message error #}


    {{ include('film/_form.html.twig') }}

    <a class="btn btn-info" href="{{ path('app_film_index') }}">back to list</a>
{% endblock %}



